*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins',sans-serif;
/* text-decoration: none; */
list-style: none;
}
/* section{
  border: 2px solid red;

} */
nav{
  background-color: #1f242d;
}
a{
  color: #ffff;
  text-decoration: none;
}
 .navbar{
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  display: flex ;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar .logo{
  font-weight :800px;
  font-size: 1.875rem;
}
ul{
  display: flex;
}


.navbar ul li{
  margin-left: 2.1875rem;
  list-style: none;
}

.navbar li a {
  font-weight: 500px;
  font-size: 20px;
  transition: 0.5s;
}

.navbar ul li:hover a , .navbar ul li.active a
{
  color: #8ecf6b;

}

 .home{
  position: relative;
  overflow: hidden;
width: 100%;
height: 100vh;
  /* margin-left:0%; */
  /* transform: translate(0%,15%); */
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 60px 10% 0px; */
  color:#ffff;

}
.home-info{
  padding-left: 5%;
  
}

.home-info h1{
  font-size: 3.4375rem;
  padding-left: 8px;
}

.home-info h2{
  font-size: 2rem;
  padding-left: 10px;
 
  padding-bottom: 10px;
}

.home-info p{
  font-size: 1rem;
  padding-left:10px;
}
.home .btn_sci{
  display: flex;
  align-items: center;
  flex-wrap:nowrap;
  

}
.home .btn_sci .btn{
  border: 2px solid #8ecf6b;
  background-color: #8ecf6b;
  border-radius: 40px;
  padding: 10px 20px;
 box-shadow:0px 0px 10px #8ecf6b;
 color: #1f242d;
 font-weight: 600;
 transition: 0.5s;
 
}
.home .btn_sci .btn:hover{
  background-color: transparent;
  color: #8ecf6b;
  box-shadow: none;
}
.home .btn_sci .sci{
  display: flex;
}
.home .btn_sci .sci a{
  border: 2px solid #8ecf6b;
    margin-left:4px;
  font-size: 20px;
  border-radius: 50%;
  padding:8px;
  color: #8ecf6b;
  transition: 0.5s;

}

.home .btn_sci .sci a:hover{
  background-color: #8ecf6b;
  color: #1f242d;
  box-shadow: 0px 0px 10px #8ecf6b;
}

.home .home-image{
  padding-left:2%;
}
.home .home-image  .image-box{
 position: relative;
  width: 32vw;
  height: 32vw;
  border-radius: 50%;
  padding: 5px;
 overflow: hidden;
display: flex;
justify-content: center;
align-items: center;


}

.home .home-image .image-box::before,.home .home-image .image-box::after{
content: "";
position: absolute;
width: 500px;
height: 500px;
background:conic-gradient(transparent,transparent,transparent,#8ecf6b);
transform: rotate(0deg);
transition: 0.1s;
animation:imgrotate 10s linear infinite ;
}
@keyframes imgrotate{
  100%{
transform: rotate(360deg);
  }
}

.home-image .image-box .image-item{
position: relative;
  width: 100%;
  height: 100%;
  background-color: #1f242d;
 border: 0.1px solid #1f242d;
  border-radius: 50%;
  display: flex;
   justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
  
}
.home-image .image-box .image-item img{
  position: absolute;
/* top: 30px; */
object-fit: cover;
width: 85%;
display: block;
  mix-blend-mode: lighten;
}

.bars-animation{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  z-index: -1;
 
}
.bars-animation .bar{
  width: 100%;
  height: 100vh;
  background-color: #1f242d;
  /* border: 2px solid red; */
transform: translateY(-100%);
animation:show-bars 0.5s ease-in-out forwards;
animation-delay:calc(.1s * var(--i));
}

  
@keyframes show-bars{
  100% {
    transform: translateY(0%);
  }
}

.about{
position: relative;
width: 100%;
/* height: 100vh; */
  margin-top:2%;
  /* margin-bottom:5%; */

 
}
.about .row{
  display: flex;
  align-items: center;
  justify-content: center;
}
.addresstwo{
  display: flex;
  align-items: center;
  justify-content: center;
margin-bottom:4%;
}
  .about .addresstwo h3{
    position: relative;
    font-size: 84px;
    color: transparent;
letter-spacing: 5px;
/* font-weight:bold; */
-webkit-text-stroke: 2px #7cf03d;
text-shadow:0px 0px 10px orangered;

  }

    .about .item img{
      border-radius: 50%;
      border: 4px solid #C9A8C9;
      box-shadow: 0 15px 30px  rgba(0, 0, 0, 0.20);
    }
    .about .addresstwo h2{
position: absolute;
left:50%;
top:10%;
font-size:74px;
letter-spacing: 2.5px;
color: transparent;
-webkit-text-stroke:2px orangered;
text-shadow: 0px 0px 10px #7cf03d;
}

.about .row .item h3{
  padding:5px;
  font-size: 32px;
  font-weight:800;
  
  /* font-style: italic;
  */
}
.about .row .item p{
  font-size: 16px;
  font-weight:700;
  padding: 5px 10px;

}
.about .row .item .skills .sci{
  padding-left: 10px;
  /* text-align: center; */
 
}
.about .row .item .skills .sci i{

  padding-left:15px;
  transition: transform 0.3s ease var(--i);
  font-size:40px;
  padding: 10px;
  
}
.about .row .item .skills .sci:hover i{
  color: #8ecf6b;
 transform: scale(1.5);

}

/* section service */
.service{
  margin-top:10%;
  /* width: 100%;
  height: 100vh; */
/* background-color: #1f242d; */

}
.section-title{
  margin-bottom:10%;
}
.service .section-title h3{
  padding: 10px 0px;
  position: relative;
  font-size: 3rem;
  text-align: center;
  color: #c9a8c9;
  font-weight: 700;
  letter-spacing:4px;
  text-shadow:0 0 10px #fcb40d;
  /* display:inline-block ; */
}

.service .section-title h3::after{
  content: '';
  position: absolute;
  width:15%;
  left:42.5%;
  bottom: -8%;
  height: 4px;
  opacity: 0.8;
  background-color: #8ecf6b;
  box-shadow: 0 0 8px #ea7e36, 0 0 16px #8ecf6b;
border-radius: 2px;
transition:box-shadow 0.3s ease,transform 0.3 ease;
}

.service .section-title h3:hover::after{
  transform: scale(1.3);
  box-shadow: 0 0 12px #ea7e36,0 0 24px #c9a8c9 ;
}

.service  .card-body .card-title {
  font-size: 16px;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
/* color: #fcb40d; */
}

.card{
  transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.card:hover{
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.projects{
  margin-top: 10%;
  margin-bottom: 10%;
  /* width: 100%;
  height: 100vh; */
  /* background: #8ecf6b; */
}

.projects .project-title h3{
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
  position: relative;
}

.projects .project-title h3::after{
  content: "";
  width: 80px;
  height: 4px;
  background-color: #ff6600;
  position: absolute;
  bottom: -15px;
  left:50%;
  transform: translateX(-50%);
  border-radius: 10px;
}

.projects .project-cards{
  background: #f9f9f9;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s ease;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

.project-cards:hover{
  transform: translateY(-10px);
box-shadow: 0 25px 60px rgba(0, 0, 0, 0.15);

}

.projects .project-cards .card-title{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}
.projects .project-cards .card-text{
  font-size: 14px;
  font-weight: 600;
  color: #777;
  margin-bottom: 20px;
}



.contact {
padding: 20px 20px;
text-align: center;
background-color: #f9fafb;

}
.contact .contact-all .contact-title  {
font-size: 40px;
 margin-bottom: 20px;
 font-weight: 600;
 transform: translateY(30px);
 animation: fadeup 0.8s ease forwards;
 animation-delay: 0.2s;
 opacity: 0;

}
@keyframes fadeup{
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

.contact .contact-all .contact-subtitle{
  font-size: 16px;
  color: #777;
  margin-bottom: 40px;
}
.contact .card {
background: #fff;
padding: 35px 20px;
border-radius: 20px;
box-shadow:  0 15px 40px rgba(0, 0, 0, 0.8);
}
.contact .card .icon i {
font-size: 60px;
margin-bottom: 20px;
transition: 0.3s;
}
.contact .card-title{
  margin-bottom: 15px;
}
.contact .card a{
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}
.contact .card:hover{
  transform: translateY(-12px);
  box-shadow: 0 25px 60px  rgba(0, 0, 0, 0.15);
}
.contact .whats i, .whatsancor a
{
  color: #25d366;
}
.contact .cats i,
.githubancor a{
  color: #111;
}

.contact .email i,.emailancor a{
  color: #ff6a3d;
}